@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: hsl(210, 40%, 98%);
  color: #111827;
}
